---
import ButtonArrowBlanco from '../UI/ButtonArrowBlanco.astro';
---

<!-- Call to Action -->
  <section 
    class="py-24 bg-cover bg-center text-white"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/uploads/call-to-action.jpg)"
  >
    <div class="container">
      <div class="max-w-2xl mx-auto text-center">
        <h2 class="text-6xl md:text-6xl mb-6 text-white font-light">Ready to take on the challenge?</h2>
        <p class="text-3xl mb-8 font-extralight">
          We'd love to welcome you. Come visit us or reach out with any questions.
        </p>
        
        <div class="flex flex-wrap justify-center gap-4">
          <ButtonArrowBlanco href="/contact" text="Enquire Now"/>
        </div>
      </div>
    </div>
  </section>