---
import BaseLayout from "../layouts/BaseLayout.astro";
import ExpeList from "../components/Sections/ExpeList.astro";
import HeroVideo from '../components/Sections/HeroVideo.astro';
import ButtonArrow from "../components/UI/ButtonArrow.astro";
import CallToAction from "../components/Sections/CallToAction.astro";
import Testimonial from "../components/Sections/Testimonial.astro";

import { Image } from 'astro:assets';
import myImage from '../assets/images/aboutUs.jpg';
---

<BaseLayout>
  
  <HeroVideo/>
  
  <!-- About Section -->
  <section class="py-28 bg-gray-50">
    <div class="container">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
        <div>
          <!-- <img 
            src="/uploads/home/aboutUs.jpg" 
            alt="Andean Kingdom Team" 
            class="rounded-sm shadow-xl object-cover w-full h-full"
          /> -->
          <Image 
            src={myImage} 
            widths={[240, 540, 720, myImage.width]}
            sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${myImage.width}px`}
            alt="Andean Kingdom Team" 
            class="rounded-sm shadow-xl"/>
        </div>
        
        <div>
          <h2 class="text-3xl md:text-4xl font-bold mb-6 text-primary-800 underline-offset-8 underline-reveal">About Us</h2>
          <p class="text-gray-700 mb-6 text-lg">
            If you're looking to break away from conventional tourism and dive into real adventure, you're in the right place.
            We provide all the professional and free information you need to plan your journey. 
            Our mission is to help you experience the thrill of Huaraz with the highest standards of safety, support, and expertise in adventure sports.
          </p>
          <p class="text-gray-700 mb-8 text-lg">
            From full logistical support to fully guided expeditions, we offer top-quality equipment and a qualified, dedicated team ready to assist you at every step.
            Come and enjoy the stunning mountains of Huaraz with us, because your satisfaction is our greatest advertisement. If you think it's impossible, we can make it happen.
          </p>

          <ButtonArrow text="See More" href="/about-us" />
          
        </div>
      </div>
    </div>
  </section>

  
  <!-- Expe Section -->
  <ExpeList limit={{ mountaineering: 3, trekking: 3 }} />


  <!-- Testimonials-->
  <section class="py-16 bg-gray-50">
    <Testimonial />  
  </section>
  
  <!-- CallToAction-->
  <CallToAction />

  <section class="py-48 bg-gray-50">

  </section>
  <script>
    const observer = new IntersectionObserver(
      (entries) => {
        for (const entry of entries) {
          if (entry.isIntersecting) {
            entry.target.classList.add('reveal-active')
            observer.unobserve(entry.target) // Solo una vez
          }
        }
      },
      {
        threshold: 0.5,
      }
    )

    document.querySelectorAll('.reveal').forEach((el) => observer.observe(el))
</script>

<script>
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add('reveal-active')
          observer.unobserve(entry.target)
        }
      })
    },
    { threshold: 0.8 }
  )

  document.querySelectorAll('.underline-reveal').forEach((el) => observer.observe(el));
</script>

</BaseLayout>